AUDIT_SEAL_SECRET=
BANK_ENCRYPTION_KEY=
CLIENT_JWT_SECRET=
CLOSEOUT_SEAL_SECRET=
DB_ENGINE=sqlite
FCM_SERVER_KEY=
JWT_SECRET=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
NODE_ENV=development
ONLINE_DB_KEY=
ONLINE_DB_URL=
PORT=3000
RAWASI_DB_PATH=
