PORT=3000
NODE_ENV=development
JWT_SECRET=rawasi_aden_secret_key_2024
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=rawasi_aden
RAWASI_DB_PATH=server/database/rawasi_aden.db
ONLINE_DB_URL=
ONLINE_DB_KEY=
